<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
    <include file="Public/common_header"/>
    <title>{:C('WEB_SITE_TITLE')}</title>
    <meta name="Keywords" content="{:C('WEB_SITE_KEYWORD')}"/>
    <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/>
    <script type="text/javascript" src="__STATIC__/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/edit.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/edit.css">
</head>
<body>
<include file="Public/common_nav"/><!--导航栏-->
<br />
<div class="container" style="margin-top: 60px;">
    <div style="background-color:#FFFFFF">
        <form name="edit_form" id="edit_form" method="post" action="\home\article\edit" onsubmit="return false">
        <table>
            <tr>
                <td>文章标题：</td>
                <td><input name="title" type="text" placeholder="请输入标题" size="40" id="edit_title" /><span id="title_tip" class="tip"></span></td>
            </tr>
            <!--
            <tr>
                <td>作者：</td>
                <td><input name="author" type="text" value="" size="40" id="edit_auth" placeholder="请输入作者" /><span id="auth_tip" class="tip"></span></td>
            </tr>
        -->
            <tr>
                <td>来源：</td>
                <td>
                    <input type="radio" name="edit_orign" value="1">原创&nbsp 
                    <input type="radio" name="edit_orign" value="2">转载&nbsp
                    <input type="radio" name="edit_orign" value="3">其他&nbsp
                    <span id="orign_tip" class="tip"></span>
                </td>
            </tr>
            <tr>
                <td>文章分类：</td>
                <td>
                <volist name="category" id="data">
                    <input type="radio" name="category_id" value={$data.id}>{$data.title}&nbsp
                </volist><span id="cate_tip" class="tip"></span>
            </td>
            </tr>
        </table> 
        <div style="padding-top:5px;  clear:both;">
            <textarea cols="80" id="edit_content" name="content" rows="10" id="edit_cont">请输入文章内容！</textarea>
            <script type="text/javascript">CKEDITOR.replace('content')</script>
        </div>
        <div style="padding-top:5px;  clear:both;">
            <div>文章摘要</div>
            <textarea style="width: 100%" cols="" id="" name="description" rows="3" id="edit_cont" placeholder="若为空则默认截取正文前两百个字符"></textarea>
        </div>  
        <div class="center_div" style=" padding-top:3px; padding-left:3px; float:left ">
            <li style="display:inline; float:left; width:260px; height:22px; padding-top:2px; padding-left:2px; "><input type="submit" name="" value="提交" id="edit_submit" /></li>
            <li style="display:inline; float:left; width:100px; height:22px; padding-top:2px; padding-left:2px; "> <input type="button" name="" onClick="formReset()" style="cursor:hand" value="重置" />
            </li>
        </div>
        </form>
    </div>  

</div>
<br />
<!--底部-->
<br />
<include file="Public/common_footer"/>
</body>
</html>