<div class="banner" data-style="border-white">
    <div class="carousel">
        <div class="item">
            <a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dg5MwISHpBxwcQipKwQzePOeEDrYVVa64K7Vc7tFgwiHjf2vlNIV67jgjDHxjA6qVxeoNewupcd72XZowWn%2BItQMXidOtMjGArQ6Q%2B1IJOyoO5t%2F7IV7EtlaTBTBC3%2FwpC9dcRqSUME0eIsVrFTxrCCGFCzYOOqAQ&pvid=10_10.103.52.178_191_1452959350193">
                <img src="__STATIC__/bootstrap/img/banner3.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dk5gnsqAhJ1YcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAposCEzbGwRY3jZtsrjANKeDhitT%2FRpa4hyqVl2Dv48W9sk0UPWzFz2j51Z5hSGBwDDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLZ%2FNxlvga2vCGHCdjJcuceS4SBz60%2BbAhXSd1ORWLc9XEqY%2Bakgpmw">
                <img src="__STATIC__/bootstrap/img/banner2.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DLSnA9IJ5cZccQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMfSAKBQxaAc%2Flovu%2FCElQOt2Fb6m1FA4qt7tP4%2FgilpHVUt1SwCq%2BuYxMJ5%2Fk67Yc47LAa3DUrM2zt5vEinufIVAFEHVckI7b5%2FNZpdQjSxu1vgFTVPz8OPAUxBJ7QMuvPiIxHalZnugeEADx7YbmLyTsDm4p%2FI7aPp9wyBJI5ayl1KDh%2FVeLzkbxDo0p59w1mBiH6buM6UD6yiYwQfONoA%3D">
                <img src="__STATIC__/bootstrap/img/banner1.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DLSnA9IJ5cZccQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMfSAKBQxaAc%2Flovu%2FCElQOt2Fb6m1FA4qt7tP4%2FgilpHVUt1SwCq%2BuYxMJ5%2Fk67Yc47LAa3DUrM2zt5vEinufIVAFEHVckI7b5%2FNZpdQjSxu1vgFTVPz8OPAUxBJ7QMuvPiIxHalZnugeEADx7YbmLyTsDm4p%2FI7aPp9wyBJI5ayl1KDh%2FVeLzkbxDo0p59w1mBiH6buM6UD6yiYwQfONoA%3D">
                <img src="__STATIC__/bootstrap/img/banner4.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DLSnA9IJ5cZccQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMfSAKBQxaAc%2Flovu%2FCElQOt2Fb6m1FA4qt7tP4%2FgilpHVUt1SwCq%2BuYxMJ5%2Fk67Yc47LAa3DUrM2zt5vEinufIVAFEHVckI7b5%2FNZpdQjSxu1vgFTVPz8OPAUxBJ7QMuvPiIxHalZnugeEADx7YbmLyTsDm4p%2FI7aPp9wyBJI5ayl1KDh%2FVeLzkbxDo0p59w1mBiH6buM6UD6yiYwQfONoA%3D">
                <img src="__STATIC__/bootstrap/img/banner5.jpg" width="100%" />
            </a>
        </div>
    </div>
</div>