<div class="xl12 xm8">
    <div class="row-fluid">
        <div class="span7" style="margin-left: 50px;">
            <volist name="lists" id="data">
                <div style="margin-bottom:40px;background-color: #ffffff;box-shadow: 0 0 10px 7px rgba(218, 218, 218, 0.5);">
                    <p style="margin-bottom: -3px;">
                        <a href="/index.php?s=/home/article/detail/id/{$data.id}.html"><span class="badge bg-main">{$data.title}</span></a>

                    <div class="title_r hidden-xs"><img src="__PUBLIC__/Home/images/tuijian.gif" style="width:70px"></div>
                    </p>
                    <p>
                        {$data.description}
                    </p>
                    <p class="write hidden-sm">
                        <a><span class="glyphicon glyphicon-time"></span></a> &nbsp;{$data.create_time}&nbsp;&nbsp;作者：Mr Gao&nbsp;&nbsp;分类：[&nbsp;<a href="{$data.icon_url}">{$data.icon_alt}</a>&nbsp;]<span class="hidden-xs">&nbsp;&nbsp;点击：[&nbsp;{$data.view}&nbsp;]</span>
                    </p>
                </div>
            </volist>

            <div class="pagination">
                <ul>
                    {$page}
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="line-small">
        <div class="xs6">
            <img src="__STATIC__/bootstrap/img/1.jpg" width="100%" />
            <ul class="list-unstyle height-big padding-top">
                <li><span class="badge bg-red">新闻</span> <a href="#">特大喜讯，我们发布正式版了。</a></li>
                <li><span class="badge bg-main">新闻</span> <a href="#">是一款专业网页前端UI解决方案</a></li>
                <li><span class="badge bg-main">新闻</span> <a href="#">方便个性化、人性化的前端设计方法</a></li>
                <li><span class="badge bg-main">新闻</span> <a href="#">任何初学者都可快速建立美观的页面</a></li>
                <li><span class="badge bg-main">新闻</span> <a href="#">是一款专业网页前端UI解决方案</a></li>
            </ul>
        </div>
        <div class="xs6">
            <img src="__STATIC__/bootstrap/img/2.jpg" width="100%" />
            <ul class="list-unstyle height-big padding-top">
                <li><span class="badge bg-yellow">新闻</span> <a href="#">特大喜讯，我们发布正式版了。</a></li>
                <li><span class="badge bg-sub">新闻</span> <a href="#">是一款专业网页前端UI解决方案</a></li>
                <li><span class="badge bg-sub">新闻</span> <a href="#">方便个性化、人性化的前端设计方法</a></li>
                <li><span class="badge bg-main">新闻</span> <a href="#">是一款专业网页前端UI解决方案</a></li>
                <li><span class="badge bg-sub">新闻</span> <a href="#">任何初学者都可快速建立美观的页面</a></li>
            </ul>
        </div>
    </div>-->
    <br />
    <!--<img src="__STATIC__/bootstrap/img/x.jpg" width="100%" />-->

    <br />
    <br />
</div>