<div class="container-fluid" style="background-color: black;">

    <div class="row-fluid" style="margin-left:110px;">
        <div class="span6">
            <h3 style="color:white;">
                本站主要探讨以下问题：
            </h3>
            <ul style="color:#58BEDC;">
                <li>
                    网站架构
                </li>
                <li>
                    负载均衡
                </li>
                <li>
                    缓存处理
                </li>
                <li>
                    数据库优化
                </li>
                <li>
                    设计模式
                </li>
                <li>
                    ......
                </li>
            </ul>
        </div>
        <div class="span6">
            <h3 style="color:white;">
                联系站长：
            </h3><img width="120px" height="120px" alt="wx" src="__STATIC__/myself/wx.png" class="img-rounded" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span6">
                    <h3 class="text-center">
                        <kbd>
                            <samp><span class="marker"><small style="color:#333333;">粤ICP备15012573号-1  2014@phpbst.com All Rights Reseverd.</small></span></samp>
                        </kbd>
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256689355'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256689355%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>