    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="__STATIC__/pintu/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/my.css">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.0.min.js"></script>
    <script src="__STATIC__/pintu/js/pintuer.js"></script>
    <script src="__STATIC__/pintu/js/respond.js"></script>
    <script src="__PUBLIC__/Home/js/search.js"></script>

    <link type="image/x-icon" href="http://www.pintuer.com/favicon.ico" rel="shortcut icon" />
    <style>
        .demo-nav.fixed.fixed-top {
            z-index: 8;
            background: #fff;
            width: 100%;
            padding: 0;
            border-bottom: solid 3px #0a8;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
            box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
        }
    </style>
    <!--<script type="text/javascript" src="__STATIC__/jquery-ui.js"></script>
    <link href="__STATIC__/bootstrap/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrapd.min.js"></script>
    <script type="text/javascript" src="__STATIC__/location.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bst.css"/>-->
