<div class="banner" data-style="border-white" style="margin-top: 70px ">
    <div class="carousel">
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bannerimg/banner3.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bannerimg/banner2.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bannerimg/banner1.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bannerimg/banner4.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bannerimg/banner5.jpg" width="100%" />
            </a>
        </div>
    </div>
</div>