<div class="banner" data-style="border-white">
    <div class="carousel">
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bootstrap/img/banner3.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bootstrap/img/banner2.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bootstrap/img/banner1.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bootstrap/img/banner4.jpg" width="100%" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="__STATIC__/bootstrap/img/banner5.jpg" width="100%" />
            </a>
        </div>
    </div>
</div>