<div id="footer">
    <div class="container">
    <div class="row">
        <div class="col-md-8 footer-link">
            <div>友情链接：</div>
            <div>
                <ul class="list-unstyled list-inline">
                    <li class="footer-li"><a href=""><span class="footer-span">ThinkPHP</span></a></li>
                    <li class="footer-li"><a href=""><span class="footer-span">Bootstrap</span></a></li>
                    <li class="footer-li"><span class="footer-span">123</span></li>
                    <li class="footer-li"><span class="footer-span">123</span></li>
                </ul>
                <ul class="list-unstyled list-inline">
                    <li class="footer-li"><a href=""><span class="footer-span">123</span></a></li>
                    <li class="footer-li"><a href=""><span class="footer-span">123</span></a></li>
                    <li class="footer-li"><span class="footer-span">123</span></li>
                    <li class="footer-li"><span class="footer-span">123</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
            
    </div>
        <div class="footer-info">
                <div class=""><span class="footer-span">版权所有 © </span><a href="#" target="_blank"><span class="footer-span">gegaofeng.com</span></a> <span class="footer-span">All Rights Reserved，仅供学习</span>
                </div>
    </div>
</div>
</div>

