<div class="column col-xs-4">
    <h4>
        <span>
            博客源码更新说明：<br/>
            1.前端采用BootStrap框架,后端基于ThinkPHP框架<br/>
            2.<br>
            3.版本号v1.0.1<br>
        </span>
    </h4>
    <hr>
    <div>
        <h3><span class="icon-wrench"></span> 我的标签</h3>
        <h4>
            <div class="tag-ul">
                <a class="button button-little bg-blue shake-hover" href="#">php</a> 
                <a class="button button-little bg-yellow shake-hover" href="#">Apache</a> 
                <a class="button button-little bg-sub shake-hover" href="#">Sublime text</a>
                <a class="button button-little bg-yellow shake-hover" href="#">Linux</a> 
                <a class="button button-little bg-green shake-hover" href="#">HTML5</a> 
                <a class="button button-little bg-blue shake-hover" href="#">mysql</a> 
                <a class="button button-little bg-yellow shake-hover" href="#">CSS</a> 
                <a class="button button-little bg-sub shake-hover" href="#">javascript</a> 
                <a class="button button-little bg-green shake-hover" href="#">session</a> 
                <a class="button button-little bg-yellow shake-hover" href="#">缓存</a> 
                <a class="button button-little bg-red shake-hover" href="#">微信</a> 
                <a class="button button-little bg-main shake-hover" href="#">天气预报</a> 
                <a class="button button-little bg-green shake-hover" href="#">Chrome</a> 
                <a class="button button-little bg-sub shake-hover" href="#">Win10</a> 
                <a class="button button-little bg-yellow shake-hover" href="#">Thinkphp</a>
                <a class="button button-little bg-main shake-hover" href="#">Laravel</a> 
            </div>
        </h4>
    </div>
    <hr>
    <div>
        <h2 class="bg-main text-white padding">热点文章</h2>
        <div class="padding-big bg">
            <ul class="list-media list-underline">
                <li>
                    <div class="media media-x">
                        <a class="float-left" href="javascript:void()"><img src="__STATIC__/bootstrap/img/e1.jpg" class="radius" alt="..."></a>
                        <div class="media-body"><strong>网格系统</strong>拼图网络系统采用12列显示，可配置间隔的大小，灵活方便。 <a class="button button-little border-red swing-hover" href="#">查看详情</a></div>
                    </div>
                </li>
                <li>
                    <div class="media media-x">
                        <a class="float-left" href="javascript:void()"><img src="__STATIC__/bootstrap/img/e2.jpg" class="radius" alt="..."></a>
                        <div class="media-body"><strong>自由灵活</strong>拼图由多年前端经验的设计编程人员开发，在保持代码精简的同时，也让框架更灵活、自由。 <a class="button button-little border-yellow swing-hover" href="#">查看详情</a></div>
                    </div>
                </li>
                <li>
                    <div class="media media-x">
                        <a class="float-left" href="javascript:void()"><img src="__STATIC__/bootstrap/img/e3.jpg" class="radius" alt="..."></a>
                        <div class="media-body"><strong>方便的自定义配色</strong>拼图可根据项目需要，根据项目自由配色，可使界面丰富多彩。 <a class="button button-little border-red swing-hover" href="#">查看详情</a></div>
                    </div>
                </li>
                <li>
                    <div class="media media-x">
                        <a class="float-left" href="javascript:void()"><img src="__STATIC__/bootstrap/img/e4.jpg" class="radius" alt="..."></a>
                        <div class="media-body"><strong>自动适配设备</strong>拼图响应式设计，可自动适应手机、平板、电脑等设备，一站解决所有屏幕需求。 <a class="button button-little border-black swing-hover" href="#">查看详情</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="tab border-main" data-toggle="hover" style="height: 450px">
        <div class="tab-head">
            <ul class="tab-nav">
                <li class="active" id="li_liuyan"><a href="#tab-start2">最新留言</a> </li>
                <li class="" id="li_dianji"><a href="#tab-css2">最多点击</a> </li>
            </ul>
        </div>
        <div class="tab-body ">
            <div class="tab-panel active" id="tab_liuyan">
                <div class="panel-group" style="border-top: solid 0px #ddd;">
                    <div class="media media-x">
                        <a class="float-left" href="/Liuyan/index.html">
                            <img src="http://q.qlogo.cn/qqapp/101250624/1E55E62F32F7DC8A42527E8F296B6A91/100" class="radius-circle" width="60px" height="60px">
                        </a>
                        <div class="media-body">
                            <strong><span class="icon-paper-plane"></span></strong>
                            <span class="tag bg-dot">Win7</span> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-panel" id="tab_dianji">
                <volist name="click_lists" id="data">
                    <li style="margin-bottom:8px">
                        <h4>
                            <a href="/index.php?s=/home/article/detail/id/{$data.id}.html"><span class="icon-leaf"></span>{$data.title}</a>
                        </h4>
                    </li>
                </volist>
                只是为了占地方
            </div>
        </div>
    </div>


</div>