<div class="demo-nav padding-big-top padding-big-bottom fixed">
    <div class="container padding-top padding-bottom">

        <div class="line">
            <div class="xl12 xs3 xm3 xb2">
                <button class="button icon-navicon float-right" data-target="#header-demo"></button>
                <a href="#"><img src="__STATIC__/bootstrap/img/logo.png" class="ring-hover" alt="前端CCS框架" /></a>
            </div>
            <div class=" xl12 xs9 xm9 xb10 nav-navicon" id="header-demo">

                <div class="xs8 xm6 xb7 padding-small">
                    <ul class="nav nav-menu nav-inline nav-big">
                        <li><a href="#">首页</a></li>
                        <li><a href="/index.php?s=/home/article/lists/category/php.html">php</a></li>
                        <!--<li class="active">-->
                        <li>
                            <a href="/index.php?s=/home/article/lists/category/storage.html">存储<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/redis.html">Redis</a></li>
                                <li>
                                    <a href="/index.php?s=/home/article/lists/category/memcached.html">Memcached<!--<span class="arrow"></span>--></a>
                                    <!--<ul>
                                        <li><a href="#">响应式布局</a></li>
                                        <li><a href="#">非响应式布局</a></li>
                                    </ul>-->
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/index.php?s=/home/article/lists/category/db.html">数据库<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/mongodb.html">Mongodb</a></li>
                                <li>
                                    <a href="/index.php?s=/home/article/lists/category/mysql.html">Mysql</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/index.php?s=/home/article/lists/category/cooperate.html">运维<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/linux.html">Linux</a></li>
                                <li>
                                    <a href="/index.php?s=/home/article/lists/category/apache.html">Apache</a>
                                </li>
                                <li>
                                    <a href="/index.php?s=/home/article/lists/category/nginx.html">Nginx</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/index.php?s=/home/article/lists/category/front.html">前端<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/nodejs.html">Nodejs</a></li>
                                <li>
                                    <a href="/index.php?s=/home/article/lists/category/ionic.html">Ionic</a>
                                </li>
                                <li>
                                    <a href="/index.php?s=/home/article/lists/category/argularjs.html">Argularjs</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="xs4 xm3 xb4">
                    <form class="search">
                        <div class="input-group padding-little-top">
                            <input id="word" type="text" class="input border-main" name="keywords" size="30" placeholder="关键词" />
                            <span id="do" class="addbtn"><button type="button" class="button bg-main icon-search"></button></span>
                        </div>
                    </form>
                </div>
                <!--<div class="hidden-l hidden-s xm3 xb3">
                    <div class="text-red text-big icon-phone height-large text-right"> 热线 400 1234567</div>
                </div>-->

            </div>

        </div>

    </div>

</div>