	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="__PUBLIC__/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!--<link href="./Public/static/bootstrap-3.3.7/css/bootstrap-responsive.min.css" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/user/mycssfeng.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/user/docs.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/user/onethink.css">
	<script src="__PUBLIC__/static/jquery/jquery-2.0.0.min.js"></script>
	<script src="__PUBLIC__/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/static/pintu/js/respond.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/right.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/nav.js"></script>
	<link type="image/x-icon" href="__PUBLIC__/static/icons/icon.ico" rel="shortcut icon">
