<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <include file="Public/common_header"/>
        <title>{:C('WEB_SITE_TITLE')}</title>
        <meta name="Keywords" content="{:C('WEB_SITE_KEYWORD')}"/>
        <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/>
    </head>
<body>
<include file="Public/common_nav"/>  <!--导航栏-->
<!--<include file="Public/banner"/>    首页banner暂不启用 -->
<br />
<div class="container" style="margin-top: 60px;">
    <div class="row">
<include file="Public/common_left"/>
<include file="Public/common_right"/>
</div>
</div>
<br />
    <!--底部-->
<br />
<include file="Public/common_footer"/>
</body>
</html>