<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <include file="Public/common_header"/>
        <title>{:C('WEB_SITE_TITLE')}</title>
        <meta name="Keywords" content="{:C('WEB_SITE_KEYWORD')}"/>
        <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/>
    </head>
<body>
    <include file="Public/common_nav"/>
    <include file="Public/banner"/>
    <br />
    <div class="container">
        <br />
        <div class="line-big">
            <include file=""/>
            <include file=""/>
    </div>
</div>
    <br />
    <!--底部-->
    <br />
    <include file="Public/common_footer"/>
</body>
</html>