<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <include file="Public/common_header"/>
        <title>小菜鸟进阶</title>
        <meta name="Keywords" content="{:C('WEB_SITE_KEYWORD')}"/>
        <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/>
        <link rel="stylesheet" href="__PUBLIC__/static/pintu/css/pintuer.css">
        <script type="text/javascript" src="__PUBLIC__/static/pintu/js/pintuer.js"></script>
    </head>
<body>
<include file="Public/common_nav"/>  <!--导航栏-->
<include file="Public/banner"/>    <!--首页banner暂不启用--> 
<br />
<div class="container" style="">
    <div class="row">
<include file="Public/common_left"/>
<include file="Public/common_right"/>
</div>
</div>
<br />
    <!--底部-->
<br />
<include file="Public/common_footer"/>
</body>
</html>