<!DOCTYPE HTML>
<head>
    <include file="Public/common_header"/>
    <title>高建文的博客</title>
    <meta name="Keywords" content="php个人博客,php博客,mysql优化,Redis,memcached,nginx,apache,linux,nodejs,argularjs,ionic"/>
    <meta name="description" content="php个人博客,php博客,mysql优化,Redis,memcached,nginx,apache,linux,nodejs,argularjs,ionic"/>
</head>
<body>
<div class="container-fluid" id="LG">
    <include file="Public/common_nav"/>
    <block name="body">
        <div class="span9">
            <!-- Contents
            ================================================== -->
            <section id="contents">
                <article:list name="list" category="$category['id']" child="true">
                    <div class="">
                        <h3><a href="{:U('Article/detail?id='.$list['id'])}">{$list.title}</a></h3>
                    </div>
                    <div>
                        <p class="lead">{$list.description}</p>
                    </div>
                    <div>
                        <span><a href="{:U('Article/detail?id='.$list['id'])}">查看全文</a></span>
                    <span class="pull-right">
                        <span class="author">{$list.uid|get_username}</span>
                        <span>于 {$list.create_time|date='Y-m-d H:i',###}</span> 发表在 <span>
                        <a href="{:U('Article/lists?category='.get_category_name($list['category_id']))}">{$list.category_id|get_category_title}</a></span>
                        <span>阅读( {$list.view} )</span>&nbsp;&nbsp;
                    </span>
                    </div>
                    <hr/>
                </article:list>

            </section>
        </div>
</div>
</block>
    <include file="Public/common_footer"/>
</div>
</body>
</html>
