<!DOCTYPE HTML>
<head>
    <include file="Public/common_header"/>
    <title>{$meta_title}</title>
    <meta name="Keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
</head>
<body>
<div class="container-fluid" id="LG">
    <include file="Public/common_nav"/>
    <div class="container">
        <!--div class="line-small">
            <div class="xl12 xm6 margin-small-bottom">
                <a href="#"><img src="__STATIC__/bootstrap/img/product1.jpg" width="100%" /></a>
            </div>
            <div class="xl6 xm3">
                <a href="#"><img src="__STATIC__/bootstrap/img/product2.jpg" width="100%" /></a>
            </div>
            <div class="xl6 xm3">
                <a href="#"><img src="__STATIC__/bootstrap/img/product3.jpg" width="100%" /></a>
            </div>
        </div>-->
        <br />
        <div class="line-big">
            <include file="Public/common_left"/>
            <include file="Public/common_right"/>
        </div>
    </div>

    <include file="Public/common_footer"/>
</div>
</body>
</html>
