<!DOCTYPE html>
<html lang="en">
    <head>
    <include file="Public/common_header"/>
    <title>用户注册-个人博客</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/user_register.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/register.js"></script>
</head>
<body>
<include file="Public/common_nav"/>
<div style="height:80px;"></div>
<!--默认-->
<form id="register_form" action="__ACTION__" method="post" onsubmit="return false">
    <div class="container">
	<div class="shadow_box">
	    <div class="register_box">
		<div class="head">
		    <a href="javascript:void(0);" class="head_a head_a1">新用户注册</a>
		</div>
		<div class="body">
		    <table style="width: 100%">
			<tr>
			    <td class="t">
				<label for="username">用户名&nbsp</label>
			    </td>
			    <td style="width: 320px">
				<input type="text" id="txt_username" name="txt_username" class="form-control" placeholder="请输入用户名">
				<span id="J_tipUsername" class="cue warn"></span>
			    </td>
			    <td class="icon_ok">
				&nbsp
				<span id="spn_username_ok" class="icon_yes" style="display: none;"></span>
			    </td>
			</tr>
			<tr style="">
			    <td class="t">
				<label for="userpwd">登录密码&nbsp</label>
			    </td>
			    <td style="">
				<input type="password" id="txt_password" name="txt_password" class="form-control" placeholder="请输入登录密码">
				<span id="J_tipPassword" class="cue warn" style="display: none;"></span>
				<span id="J_tipUpperCaseBox" class="prompt" style="display: none;"><span class="icon"></span>键盘大写锁定已打开，请注意大小写!</span>
				<span id="spnPwdStrongTips" style="display: none;">
				    <span id="spnPwdStrong1" class="cue warn j_pwdStrong" style="display: block;">
					<span class="msg_level"><span class="s1"></span><span></span><span></span></span>密码过于简单</span>
				    <span id="spnPwdStrong2" class="cue warn j_pwdStrong" style="display: none;">
					<span class="msg_level"><span class="s1"></span><span class="s2"></span><span></span></span>试试字母、符号、数字的组合更安全
				    </span>
				    <span id="spnPwdStrong3" class="cue warn j_pwdStrong" style="display: none;">
					<span class="msg_level"><span class="s1"></span><span class="s2"></span><span class="s3"></span></span>密码设置安全，放心使用
				    </span>
				</span>
			    </td>
			    <td class="icon_ok">
				&nbsp
				<span id="span_password_ok" class="cue" style="display:"></span>
			    </td>
			</tr>
			<tr>
			    <td class="t">
				<label for="userpwd">确认密码&nbsp</label>
			    </td>
			    <td>
				<input type="password" id="txt_repassword" name="txt_repassword" class="form-control" placeholder="请再次输入登录密码">
				<span id="J_tipSurePassword" class="cue warn"></span>
			    </td>
			    <td>
				&nbsp
				<span id="spn_repassword_ok" class="icon_wrong" style="display: none;"></span>
			    </td>
			</tr>
			<tr>
			    <td class="t">
				<label for="userpwd">验证码&nbsp</label>
			    </td>
			    <td>
				<input type="text" id="txt_vcode" name="txt_vcode" class="form-control" placeholder="请输入验证码" maxlength="4">	
				<span id="J_tipVcode" class="cue"></span>
			    </td>
			    <td>
				&nbsp
				<span id="spn_vcode_ok" class="icon_wrong" style="display: none;"></span>
			    </td>
			</tr>
			<tr>
			    <td></td>
			    <td><img src="__CONTROLLER__/verifyImg" onclick="this.src = '__CONTROLLER__/verifyImg/' + Math.random()"></td>
			</tr>
			<tr>
			    <td colspan="2" style="text-align: center;">
				<button id="J_submitRegister" class="btn-lg btn-danger">注册</button>
			    </td>
			</tr>
		    </table>
		    </form>
		</div>
	    </div>
	</div>
    </div>
    <include file="Public/common_footer"/>
</body>
</html>