<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <include file="Public/common_header"/>
        <title>{:C('WEB_SITE_TITLE')}</title>
        <meta name="Keywords" content="{:C('WEB_SITE_KEYWORD')}"/>
        <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/>
    </head>
<body>
<div class="container-fluid" id="LG">
    <include file="Public/common_top"/>
    <include file="Public/common_nav"/>
    <include file="Public/banner"/>
    <br />
    <div class="container">
        <!--div class="line-small">
            <div class="xl12 xm6 margin-small-bottom">
                <a href="#"><img src="__STATIC__/bootstrap/img/product1.jpg" width="100%" /></a>
            </div>
            <div class="xl6 xm3">
                <a href="#"><img src="__STATIC__/bootstrap/img/product2.jpg" width="100%" /></a>
            </div>
            <div class="xl6 xm3">
                <a href="#"><img src="__STATIC__/bootstrap/img/product3.jpg" width="100%" /></a>
            </div>
        </div>-->
        <br />
        <div class="line-big">

            <include file="Public/common_left"/>
            <include file="Public/common_right"/>
        </div>
    </div>
    <br />
    <br />
    <!--<div class="container text-center"><a class="button button-large bg-yellow icon-code margin-bottom" href="pintuer1.zip"> 下载示例代码</a> <a class="button button-large bg-main icon-download margin-bottom" href="#download/pintuer.zip"> 下载拼图框架</a> <a class="button button-large border-main icon-file margin-bottom"
                                                                                                                                                                                                                                                                             href="#"> 拼图使用教程</a></div>-->



    <!--底部-->
    <br />
    <br />
    <div class="layout padding-big-top padding-big-bottom border-top bg">
        <div class="container padding">
            <div class="line">
                <div class="hidden-l xs9 table-responsive">
                    <ul class="nav nav-sitemap">
                        <!--<li><a href="#">友情链接</a>-->
                            <ul>
                                <li><a href="http://thinkphp.cn" target="_blank" class="button border-blue ring-hover" role="button">ThinkPHP</a></li>
                                <li><a href="http://tianjianlong.com.cn/" target="_blank" class="button border-blue ring-hover" role="button">轮回博客</a></li>
                                <li><a href="#">友情链接位3</a></li>
                            </ul>
                        </li>
                        <li><a href="#"></a>
                            <ul>
                                <li><a href="#">友情链接位4</a></li>
                                <li><a href="#">友情链接位5</a></li>
                                <li><a href="#">友情链接位6</a></li>
                            </ul>
                        </li>
                        <li><a href="#"></a>
                            <ul>
                                <li><a href="#">友情链接位7</a></li>
                                <li><a href="#">友情链接位8</a></li>
                                <li><a href="#">友情链接位9</a></li>
                            </ul>
                        </li>
                        <li><a href="#"></a>
                            <ul>
                                <li><a href="#">友情链接位10</a></li>
                                <li><a href="#">友情链接位11</a></li>
                                <li><a href="#">友情链接位12</a></li>
                            </ul>
                        </li>
                        <li><a href="#"></a>
                            <ul>
                                <li><a href="#">友情链接位13</a></li>
                                <li><a href="#">友情链接位14</a></li>
                                <li><a href="#">友情链接位15</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="xl12 xs3 padding-top">
                    <div class="media media-x">
                        <!--<div class="float-left txt-border radius-circle border-main">
                            <div class="txt radius-circle bg-main icon-phone text-large"></div>
                        </div>-->
                        <div class="media-body"><strong class="text-big text-main">QQ:1571104519</strong></div>
                    </div>
                    <div class="media media-x">
                        <!--<strong class="text-big text-main">微信：</strong>-->
                        <span><img width="60px;" height="60px;" src="__STATIC__/bootstrap/img/wx.png"/></span>
                        <!--<div class="float-left txt-border radius-circle border-main">
                            <div class="txt radius-circle bg-main icon-weibo text-large"></div>
                        </div>-->
                        <!--<div class="media-body"><strong class="text-big text-main">微信：</strong><a class="button button-little bg-red shake-hover" href="http://www.weibo.com/pintuer">点击关注</a></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include file="Public/common_footer"/>
</div>
</body>

</html>