<!DOCTYPE html>
<head>
	<include file="Public/common_header"/>
<title>登录-后台管理</title>
</head>
<body>
<div class="log-w3">
<div class="w3layouts-main">
	<h2>登录</h2>
		<form action="login" method="post">
			<input type="email" class="ggg" name="username" placeholder="用户名" required="">
			<input type="password" class="ggg" name="password" placeholder="密码" required="">
			<span><input type="checkbox" />记住我</span>
			<h6><a href="#">忘记密码</a></h6>
				<div class="clearfix"></div>
				<input type="submit" value="登录" name="login">
		</form>
		<p></p>
</div>
</div>
<script src="__JS__/bootstrap.js"></script>
<script src="__JS__/jquery.dcjqaccordion.2.7.js"></script>
<script src="__JS__/scripts.js"></script>
<script src="__JS__/jquery.slimscroll.js"></script>
<script src="__JS__/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="__JS__/jquery.scrollTo.js"></script>
</body>
</html>
